* {
    margin: 0;
    padding: 0;
 }

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    font-family: sans-serif;
    background: #332736;
    color :#d9cedc;
}

h1, h2 {
    color: #fffddd;
}

ul > li{
    list-style-type: none;   
    padding-left: 10px;
}

article li {
    list-style-type: "⬥";
    padding-left: 10px;
}

 header {
    display: flex;
    flex-wrap: wrap;
    align-items: center; 
    justify-content:center;
    gap: 1rem; 
 }

 header>div {
    max-width: 250px;
    text-align: center;
    border-radius: 1rem;
    margin-top: 50px;
    list-style-type: none;
    
}

header>div>img {
    width: 200px;
    height: auto;
    border-radius: 50%;
    display: block;
    margin: 1rem auto;
}

header>div .href {
   color: #d9cedc;
}

header>nav {
    width: 100%;
    padding: 2rem 1rem;
    color: #fffddd;
} 

header>nav>ul {
    display: flex;
    justify-content: center;
    gap: 3rem;
    }

header>nav>ul>li {
    list-style-type: none;
}

header>nav>ul>li>a {
    padding: 1rem;
    background-color: #d9cedc25;
    color: #fffddd;
    border-radius: 3rem;
    text-decoration: none;
    font-weight: bold;    
}

header>nav>ul>li>a:hover {
    background-color: #fffddd;
    color: #332736;
}

header,main,footer {
    width: 70%;
    padding: 0 1rem;
}

main {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}


main>section {
    padding: 2rem;
    border: 2px solid #d9cedc;
    border-radius: 2rem;
    }

    main>section>h2 {
    border-bottom: 1.5px solid #d9cedc;
    padding: 0.5rem;
    padding-top: 0;
    margin-top: -1rem;
    margin-bottom: 0.5rem;
}

main > Section > ul {
    justify-content: left;
}

main>section>article {
    margin-bottom: 1rem;
}

.mid-line {
    color: #d9cedc;
    font-weight: bold;
    list-style-type: none;
    
}

.job-title {
    color: #d9cedc;
    font-size: large;
    font-weight: bolder;
}

.job-subtitle {
    color: #fffddd;
    
}

.timeline {
    color: #fffddd;
    font-size:small
}

.prof-title {
    color: #d9cedc;
    font-size: larger;
    font-weight: bolder;
}

#objective p {
    margin-bottom: 1rem;
   }

#objective p:last-child {
    margin-bottom: 0;
   }

#objective p::first-letter {
    padding-left: 2rem;
    }

#skills {
    display: flex;
    flex-wrap: wrap;
    align-items: center; 
    justify-content:center;
    gap: 1rem; 
}

#skills, ul {
    gap: 0.5rem;    
}

#skills, ul>li {
    list-style-type: "⬥"; 
    padding-left: 10px;
    padding-right: 10px;
}

#certifications ul>li {
    display: flex;
    flex-direction: column;
    list-style-type: "⬥";
    padding-left: 10px;
    justify-content: left;   
}



